{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}
        Edit course '{{ object.title }}'
    {% else %}
        Create new course
    {% endif %}
{% endblock title %}

{% block content %}
<div class="m-4">
    <h1>
        {% if object %}
            Edit course '{{ object.title }}'
        {% else %}
            Create new course
        {% endif %}
    </h1>
    <div class="module">
        <h2>Course info</h2>
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <p><input class="btn btn-primary my-2" type="submit" value"Save course"></p>
        </form>
    </div>
</div>

{% endblock content %}