{% extends 'base.html' %}
{% load course %}

{% block title %}
    Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock title %}

{% block content %}
<div class="m-3">
    {% with course=module.course %}
    <h1>Course "{{ course.title }}"</h1>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Modules
        </button>
        <ul id="modules" class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton">
            {% for m in course.modules.all %}
                <li data-id="{{ m.id }}" {% if m == module %}
                class="selected"{% endif %}>
                    <a class="dropdown-item" href="{% url 'module_content_list' m.id%}">
                            Module {{ m.order|add:1 }}: {{ m.title }}
                    </a>
                </li>
            {% empty %}
                <li><a href="#" class="dropdown-item">No modules available</a></li>
            {% endfor %}
        </ul>
        <a class="btn btn-primary" href="{% url 'course_module_update' course.id %}">
            Edit modules
        </a>
    </div>
    <div class="module">
        <div class="my-3">
            <h2>Module {{ module.order|add:1 }}: {{ module.title }}</h2>
            <h3>Module contents:</h3>    
        </div>
        <div id="module-contents">
            {% for content in module.contents.all %}
            <hr>
                <div data-id="{{ content.id }}">
                    {% with item=content.item  %}
                        <p>{{ item }} ({{ item|model_name }})</p>
                        <form action="{% url 'module_content_delete' content.id%}" method="post">
                            {% csrf_token %}
                            <a class="btn btn-success" href="{% url "module_content_update" module.id item|model_name item.id %}">Edit</a>
                            <input class="btn btn-danger" type="submit" value="Delete">
                        </form>
                    {% endwith %}
                </div>
            <hr>
            {% empty %}
                <p>This module has no content yet.</p>
            {% endfor %}
        </div>
        <h3>Add new content:</h3>
        <ul class="list-group">
            <a class="list-group-item list-group-item-action" href="{% url 'module_content_create' module.id 'text'%}">Text</a>
            <a class="list-group-item list-group-item-action" href="{% url 'module_content_create' module.id 'image'%}">Image</a>
            <a class="list-group-item list-group-item-action" href="{% url 'module_content_create' module.id 'video'%}">Video</a>
            <a class="list-group-item list-group-item-action" href="{% url 'module_content_create' module.id 'file'%}">File</a>
        </ul>
    </div>
{% endwith %}
</div>
    
{% endblock content %}

{% block domready %}
  $('#modules').sortable({
      stop: function(event, ui) {
          modules_order = {};
          $('#modules').children().each(function(){
              // update the order field
              $(this).find('.order').text($(this).index() + 1);
              // associate the module's id with its order
              modules_order[$(this).data('id')] = $(this).index();
          });
          $.ajax({
              type: 'POST',
              url: '{% url "module_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(modules_order)
          });
      }
  });

  $('#module-contents').sortable({
      stop: function(event, ui) {
          contents_order = {};
          $('#module-contents').children().each(function(){
              // associate the module's id with its order
              contents_order[$(this).data('id')] = $(this).index();
          });

          $.ajax({
              type: 'POST',
              url: '{% url "content_order" %}',
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              data: JSON.stringify(contents_order),
          });
      }
  });
{% endblock %}