{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {% if object %}
        Edit content "{{ object.title }}"
    {% else %}
        Add new content
    {% endif %}
{% endblock title %}

{% block content %}
<div class="m-3">
    <h1>
        {% if object %}
            Edit content "{{ object.title }}"
        {% else %}
            Add new content
        {% endif %}
    </h1>
    <div class="module">
        <h2>Course info</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-primary my-2" type="submit" value="Save content" />
        </form>
    </div>
</div>
{% endblock content %}