{% extends "base.html" %}
{% load cache %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  <div class="m-3">
    <h1>
      {{ module.title }}
    </h1>
    <div class="dropdown pb-4">
      <button class="btn btn-secondary dropdown-toggle my-1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Modules
      </button>
      <ul class="dropdown-menu dropdown-menu-lg-end">
        {% for m in object.modules.all %}
          <li data-id="{{ m.id }}">
            <a class="dropdown-item" href="{% url "student_course_detail_module" object.id m.id %}">
                Module {{ m.order|add:1 }}
              <br>
              {{ m.title }}
            </a>
          </li>
          <li><hr class="dropdown-divider"></li>
        {% empty %}
          <li class="dropdown-item">No modules yet.</li>
        {% endfor %}
      </ul>
      <h3>
        <a class="btn btn-primary" href="{% url "chat:course_chat_room" object.id %}">
          Course chat rooms
        </a>
      </h3>
    </div>
  </div>
  <div class="m-3">
    {% cache 1 module_contents module %}
      {% for content in module.contents.all %}
        {% with item=content.item %}
          <h2>{{ item.title }}</h2>
          {{ item.render }}
        {% endwith %}
      {% endfor %}
    {% endcache %}
  </div>
{% endblock %}